<nav>
  <div class="container nav-container">
    <div class="logo">
      <a href="/index"><img
          src="../images/documents2.png"
          alt=""
          class="icon"
        /></a>
    </div>
    <ul class="menu-items">
      <li><a class="link" href="/index">Home</a></li>
      <li><a class="link" href="#">Guide</a></li>
      <li><a class="link" href="/table">Tenders</a></li>
      <li>
        <a class="link" href="/contact">Contact us</a>
      </li>
      <li><a class="link" href="/LoginF">Login/Sign up</a></li>
      <li><a class="link" href="/BidderProfile">MyProfile</a></li>
    </ul>
  </div>
</nav>