<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Styles/f2style.css">
    <link rel="stylesheet" href="../Styles/nav.css">
    <title>Responsive Registration Form</title>
</head>
<body>
    {{>navbar}}
    <div class="container2">
        <div class="title">Bid Enrollment</div>
        <div class="subtitle">Tenders Documents</div>
        <form action="/f2" method="post">
            <div class="user-details">
                <div class="input-box">
                    <label for="details">EPF Registration Document</label>
                    <input type="file" name="epfDoc">
                </div>
                <div class="input-box">
                    <label for="details">Permanent Account Number</label>
                    <input type="file" name="panDoc">
                </div>
                <div class="input-box">
                    <label for="details">Annual Turn Over Details </label>
                    <input type="file" name="annualTurnOver">
                </div>
                <div class="input-box">
                    <label for="details">PRICE BID (BOQ)</label>
                    <input type="file" name="boq">
                </div>
                <div class="input-box">
                    <label for="details">Confirm BID Amount</label>
                    <input type="text" name="bidAmount">
                </div>
                
                    <div class="button">
                        <input type="submit" value="Submit">
                    </div>
            
        </form>
    </div>
</body>
</html>