<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title> Login Form | </title>
    <link rel="stylesheet" href="../Styles/LoginF.css" />
  </head>
  <body>
    <div class="center">
      <h1>Login</h1>
      <form action="/LoginF" method="post">
        <!-- <div class="btn">
          <div class="button">
            <input type="button" value="BIdder">
        </div>
        <div class="button">
          <input type="button" value="Admin">
      </div>
        </div> -->
        <div class="txt_field">
          <input type="text" required name="username" />
          <span></span>
          <label>Username</label>
        </div>
        <div class="txt_field">
          <input type="password" required name="password" />
          <span></span>
          <label>Password</label>
        </div>
        <div class="pass">Forgot Password?</div>
        <div class="submitbtn">
          <div class="bidder">
            <input
              type="submit"
              value="Login as bidder"
              onclick="logged()"
              name="login"
            />
          </div>
          <div class="admin">
            <input
              type="submit"
              value="Login as Admin"
              onclick="logged()"
              name="login"
            />
          </div>
        </div>
        <div class="signup_link">
          New Here?
          <a href="/Register">Signup</a>
        </div>
      </form>
    </div>
  </body>
  <script>
    "use strict"; function logged(){ alert("Login Successful!"); }
  </script>
</html>