<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../Styles/RStyle.css" />
    <title>Responsive Registration Form</title>
  </head>
  <body>
    <div class="container">
      <div class="title">Registration</div>
      <div class="subtitle">Company Details</div>
      <form action="/register" method="post">
        <div class="user-details">
          <div class="input-box">
            <label for="details">Company Name</label>
            <input
              type="text"
              name="companyname"
              id=""
              placeholder="Enter Company Name"
              required
            />

          </div>
          <div class="input-box">
            <label for="details">Registration Number</label>
            <input
              type="text"
              name="registrationnumber"
              id=""
              placeholder="Enter Company's R.No"
              required
            />
          </div>
          <div class="input-box">
            <label for="details">Email</label>
            <input
              type="text"
              name="email"
              id=""
              placeholder="Correspondence email"
              required
            />
          </div>
          <div class="input-box">
            <label for="details">Phone Number</label>
            <input
              type="text"
              name="phonenumber"
              id=""
              placeholder=" Registered Number of the Company"
              required
            />
          </div>
          <div class="input-box Address">
            <label for="details">Registered Address</label>
            <input
              type="text"
              name="registeredaddress"
              id=""
              placeholder="Enter Registered Address"
              required
            />
          </div>
          <div class="input-box">
            <label for="details">City</label>
            <input type="text" name="city" id="" placeholder="" required />
          </div>
          <div class="input-box">
            <label for="details">State</label>
            <input type="text" name="state" id="" placeholder="" required />
          </div>
          <div class="input-box">
            <label for="details">Postal Code</label>
            <input
              type="text"
              name="postalcode"
              id=""
              placeholder=""
              required
            />
          </div>
          <div class="input-box">
            <label for="details">TAN/PAN Number</label>
            <input
              type="text"
              name="pannumber"
              id=""
              placeholder="10 characters"
              required
            />
          </div>
          <div class="input-box">
            <label for="details">Establishment Year</label>
            <input
              type="number"
              name="establishmentyear"
              id=""
              placeholder="Company Establishment Year"
              required
            />
          </div>

          <div class="subtitle">Contact Details</div>

          <div class="input-box">
            <label for="details">Contact Name</label>
            <input
              type="text"
              name="contactname"
              id=""
              placeholder="Company's Contact Person"
              required
            />
          </div>
          <div class="input-box">
            <label for="details">Date Of Birth </label>
            <input type="date" name="dob" id="" placeholder="" required />
          </div>
          <div class="input-box">
            <label for="details">Designation</label>
            <input
              type="text"
              name="designation"
              id=""
              placeholder="Designation"
              required
            />
          </div>
          <div class="input-box">
            <label for="details"> Password</label>
            <input
              type="text"
              name="password"
              id=""
              placeholder="Password"
              required
            />
          </div>
          <div class="input-box">
            <label for="details">Confirm Password</label>
            <input
              type="text"
              name="confirmpassword"
              id=""
              placeholder="Confirm Password"
              required
            />
          </div>
        </div>
        <div class="gender-details">
          <input type="radio" name="gender" id="dot-1" />
          <input type="radio" name="gender" id="dot-2" />
          <input type="radio" name="gender" id="dot-3" />
          <span class="gender-title">Gender</span>
          <div class="category">
            <label for="dot-1">
              <span class="dot one"></span>
              <span class="gender">Male</span>
            </label>
            <label for="dot-2">
              <span class="dot two"></span>
              <span class="gender">Female</span>
            </label>
            <label for="dot-3">
              <span class="dot three"></span>
              <span class="gender">Prefer not to say</span>
            </label>
          </div>
        </div>

        <div class="button">
          <a href="/index"><input
              type="submit"
              value="Register"
              onclick="registered()"
            /></a>
        </div>
      </form>
    </div>
  </body>
  <script>
    "use strict"; registered = () => { alert("Registration Successful!"); }
  </script>
</html>