<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Styles/StaticStyle.css">
    <link rel="stylesheet" href="../Styles/nav.css">
    <title>Responsive Registration Form</title>
</head>
<body>
    {{>navbar}}
    <div class="container2">
        <div class="title"></div>
        <div class="subtitle">Company Details</div>
        <form action="#">
            <div class="user-details">
                <div class="input-box">
                    <label for="details">Company Name</label>
                    <input type="text" value="Ayush PVT LTD" readonly>
                </div>
                <div class="input-box">
                    <label for="details">Registration Number</label>
                    <input type="text" value="Ayush PVT LTD" readonly>
                </div>
                <div class="input-box">
                    <label for="details">Email</label>
                    <input type="text" value="Ayush PVT LTD" readonly>
                </div>
                <div class="input-box">
                    <label for="details">Phone Number</label>
                    <input type="text" value="Ayush PVT LTD" readonly>
                </div>
                <div class="input-box Address">
                    <label for="details">Registered Address</label>
                    <input type="text" value="Ayush PVT LTD" readonly>
                </div>
                <div class="input-box">
                    <label for="details">City</label>
                    <input type="text" value="Ayush PVT LTD" readonly>
                </div>
                <div class="input-box">
                    <label for="details">State</label>
                    <input type="text" value="Ayush PVT LTD" readonly>
                </div>
                <div class="input-box">
                    <label for="details">Postal Code</label>
                    <input type="text" value="Ayush PVT LTD" readonly>
                </div>
                <div class="input-box">
                    <label for="details">TAN/PAN Number</label>
                    <input type="text" value="Ayush PVT LTD" readonly>
                </div>
                <div class="input-box">
                    <label for="details">Establishment Year</label>
                    <input type="text" value="Ayush PVT LTD" readonly>
                </div>

                
            <div class="button">
                <a href="/tenderinfo"><input type="button" value="Back"></a> 
            </div>
            <div class="button">
                <a href="/f2"><input type="button" value="Next"></a>
            </div>

        </form>
    </div>
</body>
</html>