<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
    />

    <!-- jQuery library -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="../Styles/table.css" />
    <script src="../Scripts/table.js"></script>
    <title>table</title>

    <link rel="stylesheet" href="../Styles/nav.css" />
  </head>
  <body>
   {{>navbar}}
    <table
      id="dtOrderExample"
      class="table table-striped table-bordered table-sm"
      cellspacing="0"
      width="100%"
    >
      <thead>
        <tr style="cursor: pointer">
          <th onclick="sortTable(0);" class="th-sm">TenderID</th>
          <th onclick="sortTable(1);" class="th-sm">Reference ID</th>
          <th onclick="sortTable(3);" class="th-sm">Start date</th>
          <th onclick="sortTable(4);" class="th-sm">Close date</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><a href="/tenderinfo">2022_RCFL_684850_1</a></td>
          <td><a href="/tenderinfo">TH/CVL/TAE/SHEDS/2022</a></td>
          <td><a href="/tenderinfo">2022/04/04</a></td>
          <td><a href="/tenderinfo">2022/04/15</a></td>
        </tr>
        <tr>
          <td><a href="/tenderinfo">2022_RCFL_684850_2</a></td>
          <td><a href="/tenderinfo">TH/CVL/TAE/SHEDS/2022</a></td>
          <td><a href="/tenderinfo">2022/04/10</a></td>
          <td><a href="/tenderinfo">2022/04/20</a></td>
        </tr>
        <tr>
          <td><a href="/tenderinfo">2022_RCFL_684850_3</a></td>
          <td><a href="/tenderinfo">TH/CVL/TAE/SHEDS/2022</a></td>
          <td><a href="/tenderinfo">2022/04/15</a></td>
          <td><a href="/tenderinfo">2022/04/25</a></td>
        </tr>
        <tr>
          <td><a href="/tenderinfo">2021_RCFL_684150_9</a></td>
          <td><a href="/tenderinfo">TH/CVL/TAE/SHEDS/2022</a></td>
          <td><a href="/tenderinfo">2022/04/10</a></td>
          <td><a href="/tenderinfo">2022/04/21</a></td>
        </tr>
        <tr>
          <td><a href="/tenderinfo">2022_RCFL_684850_4</a></td>
          <td><a href="/tenderinfo">TH/CVL/TAE/SHEDS/2022</a></td>
          <td><a href="/tenderinfo">2022/05/15</a></td>
          <td><a href="/tenderinfo">2022/05/25</a></td>
        </tr>
        <tr>
          <td><a href="/tenderinfo">2021_RCFL_684150_1</a></td>
          <td><a href="/tenderinfo">TH/CVL/TAE/SHEDS/2022</a></td>
          <td><a href="/tenderinfo">2022/07/28</a></td>
          <td><a href="/tenderinfo">2022/08/25</a></td>
        </tr>
        <tr>
          <td><a href="/tenderinfo">2022_RCFL_684850_3</a></td>
          <td><a href="/tenderinfo">TH/CVL/TAE/SHEDS/2022</a></td>
          <td><a href="/tenderinfo">2022/04/15</a></td>
          <td><a href="/tenderinfo">2022/04/25</a></td>
        </tr>
        <tr>
          <td><a href="/tenderinfo">2022_RCFL_684850_3</a></td>
          <td><a href="/tenderinfo">TH/CVL/TAE/SHEDS/2022</a></td>
          <td><a href="/tenderinfo">2022/04/15</a></td>
          <td><a href="/tenderinfo">2022/04/25</a></td>
        </tr>
        <tr>
          <td><a href="/tenderinfo">2022_RCFL_684850_3</a></td>
          <td><a href="/tenderinfo">TH/CVL/TAE/SHEDS/2022</a></td>
          <td><a href="/tenderinfo">2022/04/15</a></td>
          <td><a href="/tenderinfo">2022/04/25</a></td>
        </tr>
        <tr>
          <td><a href="/tenderinfo">2022_RCFL_684850_3</a></td>
          <td><a href="/tenderinfo">TH/CVL/TAE/SHEDS/2022</a></td>
          <td><a href="/tenderinfo">2022/04/15</a></td>
          <td><a href="/tenderinfo">2022/04/25</a></td>
        </tr>
        
    </table>
  </body>
</html>
