<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../Styles/global.css" />
    <link rel="stylesheet" href="../Styles/nav.css" />
    <link rel="stylesheet" href="../Styles/tender_info.css" />
  </head>
  <body>
    <nav>
      <div class="container nav-container">
        <div class="logo">
          <a href="/index"
            ><img src="../images/documents2.png" alt="" class="icon"
          /></a>
        </div>
        <ul class="menu-items">
          <li><a class="link" href="/index">Home</a></li>
          <li><a class="link" href="#">Guide</a></li>
          <li><a class="link" href="/table">Tenders</a></li>
          <li>
            <a class="link" href="/contact">Contact us</a>
          </li>
          <li><a class="link" href="#">Login/Sign up</a></li>
          <li><a class="link" href="#">MyProfile</a></li>
        </ul>
      </div>
    </nav>
    <section class="sect2">
      <div class="two-container">
        <h2>Basic Details</h2>
        <div class="two">
          <div class="info">
            <div class="info-title">
              <p>Organisation chain:</p>
            </div>
            <div class="info-content">
              <p>Institute of Nano Science and Technolgy</p>
            </div>
          </div>
          <div class="info">
            <div class="info-title">
              <p>Tender ID:</p>
            </div>
            <div class="info-content">
              <p>2022_INST_683660_1</p>
            </div>
          </div>
          <div class="info">
            <div class="info-title">
              <p>Tender Category:</p>
            </div>
            <div class="info-content">
              <p>Goods</p>
            </div>
          </div>
          <div class="info">
            <div class="info-title">
              <p>Tender title:</p>
            </div>
            <div class="info-content">
              <p>Online</p>
            </div>
          </div>
        </div>
      </div>
      <div class="three-container">
        <h2>Other Details</h2>
        <div class="three">
          <div class="info">
            <div class="info-title">
              <p>Start date:</p>
            </div>
            <div class="info-content">
              <p>Institute of Nano Science and Technolgy</p>
            </div>
          </div>
          <div class="info">
            <div class="info-title">
              <p>End date:</p>
            </div>
            <div class="info-content">
              <p>2022_INST_683660_1</p>
            </div>
          </div>
          <div class="info">
            <div class="info-title">
              <p>Documents:</p>
            </div>
            <div class="info-content">
              <p>Goods</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="sect1">
      <div class="one-container">
        <h2>Tender Details</h2>
        <div class="one">
          <div class="info">
            <div class="info-title">
              <p>Tender Description:</p>
            </div>
            <div class="info-content long-content">
              <p>Institute of Nano Science and Technolgy - Mohali</p>
            </div>
          </div>
          <div class="info">
            <div class="info-title">
              <p>Address/location:</p>
            </div>
            <div class="info-content">
              <p>2022_INST_683660_1</p>
            </div>
          </div>
          <div class="info">
            <div class="info-title">
              <p>Maximum value</p>
              <p>(in Rs):</p>
            </div>
            <div class="info-content">
              <p>Goods</p>
            </div>
          </div>
          <div class="info">
            <div class="info-title">
              <p>Payment mode:</p>
            </div>
            <div class="info-content">
              <p>Online</p>
            </div>
          </div>
        </div>
      </div>
      <div class="apply">
        <button><a href="/StaticR">Apply Now</a></button>
      </div>
      :
    </section>
  </body>
</html>
