.sect1 {
  background-color: rgb(180, 214, 255);
  border-radius: 15px;
  padding: 30px 30px 30px 50px;
  margin: 20px 100px;
  display: grid;
  grid-template-columns: 40vw 40vw;
  gap: 25px;
  .part1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    .acceptfile {
      position: absolute;
      z-index: 1;
    }
    .image {
      // position: absolute;
      z-index: 0;
      transform: translateY(20px);
      height: 200px;
      width: 200px;
      border-radius: 200px;
      border: 2px solid black;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        height: 100%;
        overflow: hidden;
        border-radius: 50%;
      }
    }
  }
  .part3 {
    margin-left: 50px;
  }
  .info {
    display: flex;
    p {
      margin-top: 1.5em;
    }
    .content {
      margin-left: 10px;
    }
  }
}

.sect2 {
  margin: 75px 100px;
  .title {
    font-size: 1.5rem;
  }
  .tender {
    margin-top: 20px;
    font-size: 1.25rem;
  }
}
